input[type="text"] {
    color : black;
    font-style: italic;
}
input[type="number"] {
    color : black;
    font-style: italic;
}
input[type="email"] {
    color : black;
    font-style: italic;
}
input[type="password"] {
    color : black;
    font-style: italic;
}
input[type="submit"] {
    font-weight : bold;
}
body {
    padding: 1em;
    font-family: Arial;
    font-size: 20px;
}