p {
    text-indent: 4%;
}
p paksu {
    font-weight: bold;
}
table {
    border: 1px solid black;
    margin: 25px 50px;
    border-collapse: collapse;
}
caption {
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid black;
    border-bottom: 2px solid darkgrey;
}
th.rb {
    border-right: 2px solid darkgrey;
}
th {
    color: white;
    font-size: 17px;
    font-weight: bold;
    background-color: red;
}
td {
    padding-left: 8px;
}
td.rb {
    font-weight: bold;
    border-right: 2px solid darkgrey;
}
tr:nth-child(even) {background-color: #f2f2f2;}