body {
    background-color: lightyellow;
}
table{
    border: 1px solid black;
    margin: 2em;
    padding: 1em;
}
figure#floating {
    float: right;
}
th, td {
    padding-right: 2em;
}
h1, h2 {
    margin: 1em;
}
p {
    margin-left: 2em;
}